<label for="name-id"> title * : </label>
<input id="name-id" [(ngModel)]="quizz.title" type="text"> <BR>
<label for="description-id"> description : </label>
<textarea name="description" id="description-id" cols="13" rows="2"  [(ngModel)]="quizz.description"></textarea> <BR>
<div class="modal-footer">
</div>


<div>
  <ul class="alert alert-danger" *ngIf="quizzFormError.length > 0" >
    <li *ngFor="let error of quizzFormError">
      {{ error }}
    </li>
  </ul>
</div>

<!-- editor question -->

<div>

  <!-- list questions section  -->
  <table class="table table-dark" *ngIf="quizz.questions.length > 0" mdbTable>
    <thead>
    <tr>
      <th *ngFor="let head of headTable" scope="col">{{head}} </th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let question of quizz.questions">
      <th>{{ question.title }}</th>
      <td>{{ getAnswers(question) }}</td>
      <td>{{ getGoodAnswers(question) }}</td>
      <td>{{ question.time }}</td>
      <td> <button (click)="deleteQuestion(question)" > Delete </button> </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="quizz.questions.length <= 0">
    This quizz has no questions yet
  </div>
  <!-- add question section  -->
  <div>
    <div>
      <input id="question-title-id" [(ngModel)]="question.title" type="text" placeholder="question title ...">
    </div>
    <div>
      <ul class="alert alert-danger" *ngIf="answerFormError.length > 0" >
        <li *ngFor="let error of answerFormError">
          {{ error }}
        </li>
      </ul>
    </div>
    <label for="">answers: </label> <BR>
  </div>

  {{ question.time }}
  <div>
    <label for="time-id"> Select time (seconds)</label>
    <select name="status" id="time-id" title="" [(ngModel)]="question.time"
            class="form-control">
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
    </select>
  </div>

  <div class="row">
    <input type="text" [(ngModel)]="question.answers[0].title">
    <input [(ngModel)]="question.correctAnswers[0]" type="checkbox" class="" [disabled]="!isSelectionAnswerDisabled(question.answers[0])">
    <BR>
    <input type="text" [(ngModel)]="question.answers[1].title">
    <input [(ngModel)]="question.correctAnswers[1]" type="checkbox" class="" [disabled]="!isSelectionAnswerDisabled(question.answers[1])">

    <BR>
    <input type="text" [(ngModel)]="question.answers[2].title">
    <input [(ngModel)]="question.correctAnswers[2]" type="checkbox" class="" [disabled]="!isSelectionAnswerDisabled(question.answers[2])">
    <BR>
    <input type="text" [(ngModel)]="question.answers[3].title">
    <input [(ngModel)]="question.correctAnswers[3]" type="checkbox" class="" [disabled]="!isSelectionAnswerDisabled(question.answers[3])">
    <BR>
  </div>
  <div>
    <button (click)="onAddQuestion()"> Add question</button>
  </div>
</div>

<div class="modal-footer">
</div>

<div class="row">
  <button class="btn btn-danger"> cancel </button>
  <button class="btn btn-primary" (click)="onValidateQuizz()"> validate quizz </button>
</div>

